{% extends "template.html" %}

{% block container %}
  <h1>credentials</h1>

  <ul>
    <li>username: {{ username }}</li>
    <li>password: {{ password }}</li>
    <li>active: {{ active }}</li>
  </ul>

  <hr>
  <p>
    <form action="/credentials" method="POST">
      <input type="text" name="username" placeholder="username"><br>
      <input type="text" name="password" placeholder="password"><br>
      <input type="checkbox" name="active" selected><br>
      <input type="submit">
    </form>
  </p>
  <hr>

  {% for i in all %}
  <ul>
    <li>username: {{ i.username }}</li>
    <li>password: {{ i.password }}</li>
    <li>active: {{ i.active }}</li>
  </ul>
  {% endfor %}

{% endblock %}


{% block footer %}
  <div id='footer'>
    <span>
        <a href="{{ admin_url }}">{{ admin_url_text }}</a>
    </span>
  </div>
{% endblock %}
